In [35]:
import os
from trackml.dataset import load_event
from trackml.score import score_event
from IPython.display import display
import tensorflow as tf
import pandas as pd
import numpy as np
import glob
from sklearn import preprocessing
from sklearn import cluster
import hdbscan

In [71]:
train = np.unique([p.split('-')[0] for p in sorted(glob.glob(os.path.join('..', 'input', 'train_1' , '**')))])
test = np.unique([p.split('-')[0] for p in sorted(glob.glob(os.path.join('..', 'input', 'test' , '**')))])
sub = pd.read_csv(os.path.join('..', 'input', 'sample_submission.csv'))

In [59]:
hits, cells, particles, truth = load_event(train[10])

In [60]:
hits = hits.merge(cells, how='left', on='hit_id')

In [61]:
hits = hits.merge(truth[['hit_id', 'particle_id']], how='left', on='hit_id')

In [62]:
hits

,hit_id,x,y,z,volume_id,layer_id,module_id,ch0,ch1,value,particle_id
0,1,-95.104897,-11.221400,-1502.5,7,2,1,242,1167,0.195064,211675367239319552
1,1,-95.104897,-11.221400,-1502.5,7,2,1,242,1168,0.109527,211675367239319552
2,2,-54.898102,-9.611880,-1502.5,7,2,1,273,453,0.172011,689056171826348032
3,2,-54.898102,-9.611880,-1502.5,7,2,1,273,452,0.152273,689056171826348032
4,3,-58.008400,3.083220,-1502.5,7,2,1,15,489,0.018446,729583345792450560
5,3,-58.008400,3.083220,-1502.5,7,2,1,15,490,0.328385,729583345792450560
6,4,-97.298401,-8.184180,-1502.5,7,2,1,178,1202,0.258261,698059110473531392
7,5,-64.370499,-11.561200,-1502.5,7,2,1,297,623,0.099925,0
8,5,-64.370499,-11.561200,-1502.5,7,2,1,297,622,0.113521,0
9,5,-64.370499,-11.561200,-1502.5,7,2,1,297,624,0.121676,0
10,5,-64.370499,-11.561200,-1502.5,7,2,1,298,621,0.000563,0
11,5,-64.370499,-11.561200,-1502.5,7,2,1,297,625,0.046082,0
12,5,-64.370499,-11.561200,-1502.5,7,2,1,297,621,0.023424,0
13,6,-81.570198,-10.156200,-1502.5,7,2,1,242,926,0.268502,9017163578867712
14,7,-62.690601,-1.985620,-1502.5,7,2,1,108,580,0.085167,598983011047833600
15,7,-62.690601,-1.985620,-1502.5,7,2,1,109,580,0.215728,598983011047833600
16,8,-63.817001,-10.614700,-1502.5,7,2,1,279,612,0.292947,887215242625417216
17,9,-85.354103,-7.244140,-1502.5,7,2,1,178,989,0.295099,189154620323397632
18,10,-69.840897,-6.625080,-1502.5,7,2,1,190,713,0.241369,855684478956208128
19,10,-69.840897,-6.625080,-1502.5,7,2,1,190,714,0.058959,855684478956208128
20,11,-83.281799,-13.500800,-1502.5,7,2,1,306,961,0.281178,738597004678004736
21,12,-70.605103,-2.321770,-1502.5,7,2,1,103,721,0.249911,490894008650825728
22,12,-70.605103,-2.321770,-1502.5,7,2,1,103,720,0.088803,490894008650825728
23,13,-138.005997,-1.450160,-1502.0,7,2,2,69,602,0.106136,477386095986737152
24,13,-138.005997,-1.450160,-1502.0,7,2,2,69,603,0.180691,477386095986737152
25,14,-137.615005,1.521060,-1502.0,7,2,2,10,594,0.076567,698062958764228608
26,14,-137.615005,1.521060,-1502.0,7,2,2,10,593,0.230354,698062958764228608
27,15,-105.670998,-11.217200,-1502.0,7,2,2,294,37,0.118074,477391181228015616
28,15,-105.670998,-11.217200,-1502.0,7,2,2,294,36,0.173514,477391181228015616
29,16,-112.543999,-9.432730,-1502.0,7,2,2,252,157,0.308886,675547090931154944
...,...,...,...,...,...,...,...,...,...,...,...
577074,104068,-765.491028,129.264008,2947.5,18,12,95,346,2,1.000000,481888939699863552
577075,104069,-881.231995,187.095001,2947.5,18,12,95,631,14,1.000000,0
577076,104070,-833.017029,162.945007,2947.5,18,12,95,512,9,1.000000,671043216425877504
577077,104071,-812.231018,160.828995,2947.5,18,12,95,529,7,1.000000,288250236080488448
577078,104071,-812.231018,160.828995,2947.5,18,12,95,528,7,1.000000,288250236080488448
577079,104072,-745.281982,177.548996,2947.5,18,12,95,774,1,1.000000,621499016336642049
577080,104072,-745.281982,177.548996,2947.5,18,12,95,772,1,1.000000,621499016336642049
577081,104072,-745.281982,177.548996,2947.5,18,12,95,773,1,1.000000,621499016336642049
577082,104072,-745.281982,177.548996,2947.5,18,12,95,776,1,1.000000,621499016336642049
577083,104072,-745.281982,177.548996,2947.5,18,12,95,775,1,1.000000,621499016336642049
577084,104073,-986.875000,242.313995,2955.5,18,12,96,1042,14,1.000000,378307866257260544
577085,104074,-948.953979,191.345993,2955.5,18,12,96,684,9,1.000000,932250070668017664
577086,104074,-948.953979,191.345993,2955.5,18,12,96,684,10,1.000000,932250070668017664
577087,104075,-924.403992,181.287003,2955.5,18,12,96,640,7,1.000000,0
577088,104076,-902.695007,128.585999,2955.5,18,12,96,243,4,1.000000,743101085341712384
577089,104076,-902.695007,128.585999,2955.5,18,12,96,242,4,1.000000,743101085341712384
577090,104077,-881.419983,7.142920,2944.5,18,12,97,113,12,1.000000,666545664112459776
577091,104077,-881.419983,7.142920,2944.5,18,12,97,114,12,1.000000,666545664112459776
577092,104078,-818.599976,11.503700,2944.5,18,12,97,184,6,1.000000,765622656891355136
577093,104079,-753.085022,56.996101,2944.5,18,12,97,597,0,1.000000,729584376601382913
577094,104079,-753.085022,56.996101,2944.5,18,12,97,598,0,1.000000,729584376601382913
577095,104079,-753.085022,56.996101,2944.5,18,12,97,599,0,1.000000,729584376601382913
577096,104080,-823.687988,92.890701,2944.5,18,12,97,858,7,1.000000,0
577097,104081,-948.622009,89.982002,2952.5,18,12,98,851,8,1.000000,391827255073964032
577098,104081,-948.622009,89.982002,2952.5,18,12,98,852,8,1.000000,391827255073964032
577099,104082,-899.057007,49.650200,2952.5,18,12,98,541,3,1.000000,0
577100,104082,-899.057007,49.650200,2952.5,18,12,98,542,3,1.000000,0
577101,104082,-899.057007,49.650200,2952.5,18,12,98,543,3,1.000000,0
577102,104083,-907.643005,78.806900,2952.5,18,12,98,780,4,1.000000,4507447918067712
577103,104084,-948.534973,91.359299,2952.5,18,12,98,863,8,1.000000,801643207573110784

In [40]:
hits['particle_id'].value_counts().head()

0                     93327
4519473826496512        198
508914729352167424      193
454866860899303424      192
4504286822137856        186
Name: particle_id, dtype: int64

In [57]:
hits['hit_id'].nunique()

138568

In [41]:
(hits['particle_id'] == 0 ).sum()/len(hits)

0.161716085835482

In [42]:
particle_stats = hits.groupby('particle_id')['value'].agg(['mean', 'var'])

In [43]:
particle_stats['var'] / particle_stats['mean']

particle_id
0                     0.372465
4503805785800704      0.509687
4503943224754176      0.565381
4504011944230912      0.576688
4504080663707648      0.573085
4504149383184384      0.609714
4504218102661120      0.006492
4504218119442433      0.000000
4504218119446530      0.000000
4504286822137856      0.089832
4504286838919169      0.000000
4504286838923266      0.000000
4504355541614592      0.331725
4504424261091328      0.005151
4504630419521536      0.017355
4504630436302849      0.212703
4504630436306946      0.000000
4504699138998272      0.033365
4504699155783682      0.450986
4504974016905216      0.438697
4505248894812160      0.591622
4505317614288896      0.573459
4505455053242368      0.588388
4505523772719104      0.443508
4505592492195840      0.468306
4505661211672576      0.540792
4505661228453889      0.000000
4505661228457986      0.000000
4505729931149312      0.004772
4505729947930625      0.240297
                        ...
941253765229445120    0.481566
941253833948921856    0.550872
941253971387875328    0.499168
941254177546305536    0.334136
941254589863165952    0.377150
941254727302119424    0.064305
941254796021596160    0.575812
941254864741072896    0.608221
941254933460549632    0.580611
941255070899503104    0.048534
941255139618979840    0.080050
941255139635761153    0.000000
941255139635765250    0.568990
941255483216363520    0.022348
941255551935840256    0.482953
941255551952621569    0.000000
941255689374793728    0.268908
941255758094270464    0.471127
941255758111051777    0.000000
941256376569561088    0.522784
941256514008514560    0.044671
941257613520142336    0.310849
941257819678572544    0.404290
941258369434386432    0.384432
941258438153863168    0.515970
941258781751246848    0.616668
941259812543397888    0.015565
941260362299211776    0.613186
941260705896595456    0.009330
941260705913376769    0.217369
Length: 8741, dtype: float32

In [44]:
for e in train:
    hits, cells, particles, truth = load_event(e)
    print(len(hits), len(cells), len(particles), len(truth))
    display(hits.head(2))
    display(cells.head(2))
    display(particles.head(2))
    display(truth.head(2))
    break

120939 664996 12263 120939

   hit_id          x         y       z  volume_id  layer_id  module_id
0       1 -64.409897 -7.163700 -1502.5          7         2          1
1       2 -55.336102  0.635342 -1502.5          7         2          1

   hit_id  ch0  ch1     value
0       1  209  617  0.013832
1       1  210  617  0.079887

,particle_id,vx,vy,vz,px,py,pz,q,nhits
0,4503668346847232,-0.009288,0.009861,-0.077879,-0.055269,0.323272,-0.203492,-1,8
1,4503737066323968,-0.009288,0.009861,-0.077879,-0.948125,0.470892,2.010060,1,11

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,0,-64.411598,-7.164120,-1502.5,250710.000000,-149908.00000,-956385.0000,0.00000
1,2,22525763437723648,-55.338501,0.630805,-1502.5,-0.570605,0.02839,-15.4922,0.00001

In [45]:
for e in test:
    hits, cells = load_event(e, parts=['hits', 'cells'])
    print(len(hits), len(cells))
    display(hits.head(2))
    display(cells.head(2))
    break

119016 657072

   hit_id          x        y       z  volume_id  layer_id  module_id
0       1 -60.826698 -4.16023 -1502.5          7         2          1
1       2 -84.729401 -7.29528 -1502.5          7         2          1

   hit_id  ch0  ch1     value
0       1  155  550  0.268630
1       2  180  978  0.316736

In [78]:
scl = preprocessing.StandardScaler()
# dbscan = cluster.DBSCAN(eps=0.00715, min_samples=1, algorithm='auto', n_jobs=-1)
# dbscan = hdbscan.HDBSCAN(min_cluster_size=4, min_samples=2)
dbscan = hdbscan.HDBSCAN(min_cluster_size=3)
sub = []
for e in test:
#     hits, cells, truth = load_event(e, parts=['hits', 'cells', 'truth'])
#     print(truth['particle_id'].nunique())
    hits, cells = load_event(e, parts=['hits', 'cells'])

#     cells.sort_values(by='value', inplace=True, ascending=False)
#     cells.drop_duplicates('hit_id', keep='first', inplace=True)
    hits['event_id'] = int(e[-9:])
#     cells = cells.groupby(by=['hit_id'])['ch0', 'ch1', 'value'].agg(['mean']).reset_index()
#     cells = cells[['hit_id','value']]
#     hits = hits.merge(cells, how='left', on='hit_id')

    #https://www.kaggle.com/mikhailhushchyn/dbscan-benchmark
    x = hits.x.values
    y = hits.y.values
    z = hits.z.values
    r = np.sqrt(x**2 + y**2 + z**2)
    hits['x2'] = x/r
    hits['y2'] = y/r
    r = np.sqrt(x**2 + y**2)
    hits['z2'] = z/r
#     data = scl.fit_transform(hits[['x2', 'y2', 'z2']].values)
    data = scl.fit_transform(hits[['x2', 'y2', 'z2']].values)
#     data = np.hstack((scl.fit_transform(hits[['x2', 'y2', 'z2']].values), hits[['value']].values))
#     data = hits[['value']].values
    hits['track_id'] = dbscan.fit_predict(data)
    
    hits['track_id'] = hits['track_id'] + 1
    print(score_event(truth, hits))
    sub.append(hits[['event_id','hit_id','track_id']].copy())
    print(e, len(hits['track_id'].unique()))
    #break
    
sub = pd.concat(sub, ignore_index=True)

sub[['event_id','hit_id','track_id']].to_csv('submission-001.csv', index=False)

0.0
../input/test/event000000000 10369
0.0
../input/test/event000000001 10700
0.0
../input/test/event000000002 9214
0.0
../input/test/event000000003 9534
0.0
../input/test/event000000004 10439
0.0
../input/test/event000000005 9413
0.0
../input/test/event000000006 9374
0.0
../input/test/event000000007 10205
0.0
../input/test/event000000008 10003
0.0
../input/test/event000000009 9929
0.0
../input/test/event000000010 10152
0.0
../input/test/event000000011 9319
0.0
../input/test/event000000012 9110
0.0
../input/test/event000000013 10931
0.0
../input/test/event000000014 9047
0.0
../input/test/event000000015 7821
0.0
../input/test/event000000016 8461
0.0
../input/test/event000000017 11572
0.0
../input/test/event000000018 8573
0.0
../input/test/event000000019 9098
0.0
../input/test/event000000020 6993
0.0
../input/test/event000000021 9294
0.0
../input/test/event000000022 10540
0.0
../input/test/event000000023 10170
0.0
../input/test/event000000024 10207
0.0
../input/test/event000000025 9583
0.0
../input/test/event000000026 8351
0.0
../input/test/event000000027 8702
0.0
../input/test/event000000028 9421
0.0
../input/test/event000000029 7651
0.0
../input/test/event000000030 9860
0.0
../input/test/event000000031 8997
0.0
../input/test/event000000032 7284
0.0
../input/test/event000000033 7483
0.0
../input/test/event000000034 10985
0.0
../input/test/event000000035 9182
0.0
../input/test/event000000036 9796
0.0
../input/test/event000000037 10812
0.0
../input/test/event000000038 9263
0.0
../input/test/event000000039 10736
0.0
../input/test/event000000040 10446
0.0
../input/test/event000000041 9700
0.0
../input/test/event000000042 9602
0.0
../input/test/event000000043 9546
0.0
../input/test/event000000044 11993
0.0
../input/test/event000000045 8599
0.0
../input/test/event000000046 8309
0.0
../input/test/event000000047 7680
0.0
../input/test/event000000048 9132
0.0
../input/test/event000000049 10520
0.0
../input/test/event000000050 10314
0.0
../input/test/event000000051 9860
0.0
../input/test/event000000052 9983
0.0
../input/test/event000000053 9482
0.0
../input/test/event000000054 10411
0.0
../input/test/event000000055 8599
0.0
../input/test/event000000056 9951
0.0
../input/test/event000000057 10670
0.0
../input/test/event000000058 10609
0.0
../input/test/event000000059 9740
0.0
../input/test/event000000060 8939
0.0
../input/test/event000000061 9283
0.0
../input/test/event000000062 9956
0.0
../input/test/event000000063 10382
0.0
../input/test/event000000064 10027
0.0
../input/test/event000000065 8382
0.0
../input/test/event000000066 9633
0.0
../input/test/event000000067 10892
0.0
../input/test/event000000068 9485
0.0
../input/test/event000000069 8824
0.0
../input/test/event000000070 8812
0.0
../input/test/event000000071 10121
0.0
../input/test/event000000072 9273
0.0
../input/test/event000000073 9701
0.0
../input/test/event000000074 9953
0.0
../input/test/event000000075 8605
0.0
../input/test/event000000076 9011
0.0
../input/test/event000000077 8018
0.0
../input/test/event000000078 9752
0.0
../input/test/event000000079 8120
0.0
../input/test/event000000080 11314
0.0
../input/test/event000000081 9267
0.0
../input/test/event000000082 9341
0.0
../input/test/event000000083 10880
0.0
../input/test/event000000084 8417
0.0
../input/test/event000000085 9907
0.0
../input/test/event000000086 10609
0.0
../input/test/event000000087 10377
0.0
../input/test/event000000088 10320
0.0
../input/test/event000000089 10425
0.0
../input/test/event000000090 9577
0.0
../input/test/event000000091 9118
0.0
../input/test/event000000092 8772
0.0
../input/test/event000000093 11564
0.0
../input/test/event000000094 8491
0.0
../input/test/event000000095 10036
0.0
../input/test/event000000096 9126
0.0
../input/test/event000000097 9794
0.0
../input/test/event000000098 10167
0.0
../input/test/event000000099 10088
0.0
../input/test/event000000100 11132
0.0
../input/test/event000000101 11054
0.0
../input/test/event000000102 9891
0.0
../input/test/event000000103 8872
0.0
../input/test/event000000104 10271
0.0
../input/test/event000000105 7995
0.0
../input/test/event000000106 9930
0.0
../input/test/event000000107 11198
0.0
../input/test/event000000108 9977
0.0
../input/test/event000000109 10162
0.0
../input/test/event000000110 9843
0.0
../input/test/event000000111 10258
0.0
../input/test/event000000112 9352
0.0
../input/test/event000000113 11057
0.0
../input/test/event000000114 8549
0.0
../input/test/event000000115 8713
0.0
../input/test/event000000116 10254
0.0
../input/test/event000000117 10110
0.0
../input/test/event000000118 9145
0.0
../input/test/event000000119 7649
0.0
../input/test/event000000120 9206
0.0
../input/test/event000000121 10158
0.0
../input/test/event000000122 7956
0.0
../input/test/event000000123 8959
0.0
../input/test/event000000124 9456